<!-- Navigation Bar Template -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Primiarealty</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="app">Home</a></li>
        <li><a ui-sref="app.aboutus">About</a></li>
        <li ng-hide="isLoggedIn"><a ui-sref="app.register">Register</a></li>
        <li ng-show="isLoggedIn"><a ui-sref="app.profile">Profile</a></li>
      </ul>
     
      <form ng-hide="isLoggedIn" ng-submit="login()" class="navbar-form navbar-right">
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-control" id="emailLogin" ng-model="user.email">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" id="passwordLogin" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>      
      </form>

       <!-- <ul ng-hide="isLoggedIn" class="navbar-form navbar-right">
        <div class="form-group">       
        <a type="submit" class="btn btn-default" href="api/facebook">LoginFacebook</a>
         </div>
      </ul> -->

      <ul ng-show="isLoggedIn" class="navbar-form navbar-right">
        <div class="form-group">       
        <button type="submit" class="btn btn-default" ng-click="logout()">Logout</button>
         </div>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>